{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["jest", "prettier"],
  "rules": {
    "arrow-parens": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "linebreak-style": "off",
    "no-console": "off",
    "no-prototype-builtins": "off",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "endOfLine": "auto",
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": "off"
  }
}
